footer {
  width: 100%;
  height: 60em;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  position: relative;
  top: 10em;
  display: grid;
  grid-template-areas:
    ". . . . ."
    ". logo logo logo ."
    ". logo logo logo ."
    ". media media media ."
    ". info info info ."
    "copyright copyright copyright copyright copyright";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr;
}

footer .logo {
  background-image: url("../img/logoOn.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: logo;
  height: 60%;
  align-self: center;
}

footer .media {
  grid-area: media;
  display: flex;
  flex-direction: row;
}

.mediaItem {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 40%;
  align-self: center;
  cursor: pointer;
}

.github {
  background-image: url("../img/github.png");
}

.github:hover {
  background-image: url("../img/githubOn.png");
}

.linkedin {
  background-image: url("../img/linkedin.png");
}

.linkedin:hover {
  background-image: url("../img/linkedinOn.png");
}

.twitter {
  background-image: url("../img/twitter.png");
}

.twitter:hover {
  background-image: url("../img/twitterOn.png");
}

.gmail {
  background-image: url("../img/gmail.png");
}

.gmail:hover {
  background-image: url("../img/gmailOn.png");
}

footer .info {
  grid-area: info;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer .info ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
  width: 75%;
}

footer .info ul li {
  list-style: none;
  width: 100%;
  text-align: center;
}

footer .info ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.63);
  font-size: 1.2em;
  line-height: 160%;
}

footer .info ul li a:hover {
  color: white;
}

footer .copyright {
  grid-area: copyright;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.63);
}

@media only screen and (max-width: 1025px) {
  footer {
    top: 25em;
  }
}

@media only screen and (max-width: 880px) {
  footer {
    top: 35em;
    width: 100%;
    height: 40em;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    position: relative;
    display: grid;
    grid-template-areas:
      "logo logo logo logo logo"
      "logo logo logo logo logo"
      "media media media media media"
      "info info info info info"
      "copyright copyright copyright copyright copyright";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 680px) {
  footer {
    top: 20em;
  }
}

@media only screen and (max-width: 580px) {
  footer {
    height: 30em;
    top: 10em;
  }
}

@media only screen and (max-width: 480px) {
  footer {
    height: 25em;
  }

  footer .info ul {
    width: 95%;
  }
}

@media only screen and (max-width: 420px) {
  footer {
    height: 25em;
    top: 40em;
  }
}

@media only screen and (max-width: 380px) {
  footer {
    height: 25em;
    top: 30em;
  }

  footer .info ul li {
    font-size: 90%;
  }

  footer .copyright {
    font-size: 90%;
  }
}
