header {
  position: fixed;
  background-color: rgba(16, 17, 19, 0.774);
  margin: 0;
  width: 100%;
  height: 6em;
  display: grid;
  grid-template: "logo blank language menu";
  grid-template-columns: 16% 64% 10% 10%;
  transition: 0.3s;
  overflow: hidden;
  border-bottom: 0.001px solid rgba(240, 248, 255, 0.459);

  z-index: 2;
}

header .logo {
  height: 80px;
  width: 80px;
  grid-area: logo;
  justify-self: flex-start;
  align-self: center;
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10%;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.459;
}

header .logo:hover {
  background-image: url("../img/logoOn.png");
  background-size: contain;
  opacity: 1;
  transition: 0.4s;
}

header .langButton {
  width: 40px;
  height: 40px;
  grid-area: language;
  justify-self: center;
  align-self: center;
  background-image: url("../img/language.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 0.459;
  transition: 0.1s;
}

header .langButton:hover {
  background-image: url("../img/languageOn.png");
  opacity: 1;
  transition: 0.2s;
}

header .menuButton {
  width: 35px;
  height: 35px;
  grid-area: menu;
  justify-self: center;
  align-self: center;
  background-image: url("../img/menu.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  cursor: pointer;
  opacity: 0.459;
}

header .menuButton:hover {
  opacity: 1;
  background-image: url("../img/menuOn.png");
}

header .desktopMenu {
  display: none;
}

header .desktopMenu ul {
  padding: 0;
}

header .desktopMenu li {
  list-style: none;
  display: inline-block;
  height: 100%;
  width: 25%;
  font-size: 1.4em;
  text-align: center;
}

header .desktopMenu li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: rgba(240, 248, 255, 0.459);
  transition: 0.1s;
}

header .desktopMenu li a:hover {
  color: aliceblue;
  transition: 0.2s;
}

.langDropdown {
  position: fixed;
  top: 6em;
  margin: 0 auto;
  margin-left: 78%;
  width: 14%;
  height: 0em;
  background-color: rgba(16, 17, 19, 0.774);
  border-bottom: 0.001px solid rgba(240, 248, 255, 0.459);
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.langDropdown ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
}

.langDropdown ul li {
  font-size: 1em;
  text-decoration: none;
  color: rgba(240, 248, 255, 0.459);
  cursor: pointer;
  width: 100%;
}

.langDropdown ul li:hover {
  color: aliceblue;
}

.menuDropdown {
  position: fixed;
  top: 6em;
  margin: 0 auto;
  width: 100%;
  height: 0em;
  background-color: rgba(39, 75, 75, 0.356);
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  z-index: 1;
  background-color: rgba(16, 17, 19, 0.774);
  border-bottom: 0.001px solid rgba(240, 248, 255, 0.459);
}

.menuDropdown ul {
  list-style: none;
}

.menuDropdown ul li {
  line-height: 280%;
  font-size: 1.6em;
}

.menuDropdown ul li a {
  text-decoration: none;
  color: rgba(240, 248, 255, 0.459);
}

.menuDropdown ul li a:hover {
  color: aliceblue;
}

@media only screen and (min-width: 1024px) {
  header {
    grid-template: "logo blank desktopMenu language";
    grid-template-columns: 20% 20% 50% 10%;
  }

  header .menuButton {
    display: none;
  }

  header .desktopMenu {
    display: grid;
    grid-area: desktopMenu;
    align-items: center;
  }

  .menuDropdown {
    display: none;
  }

  .langDropdown {
    position: fixed;
    top: 6em;
    margin: 0 auto;
    margin-left: 90%;
    width: 10%;
    height: 0em;
    background-color: rgba(16, 17, 19, 0.774);
    text-align: center;
    transition: 0.3s;
    overflow: hidden;
  }
}
