.mainItem .aboutTitle {
  width: 100%;
  text-align: left;
}

.aboutText {
  grid-area: aboutText;
  opacity: 0;
  width: 100%;
  text-align: left;
  margin: 0;
}

.aboutText p {
  margin-left: 4%;
  width: 85%;
}

.aboutText ul li {
  list-style: circle;
}

.aboutImg {
  grid-area: aboutImg;
  background-image: url("../img/hike.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.5s;
  margin-bottom: 100em;
}

.aboutImg:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

@keyframes aboutTextOn {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes aboutTextOff {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(20px);
    opacity: 0;
  }
}

@media only screen and (max-width: 1025px) {
  .aboutTitle {
    margin: 0 auto;
  }

  .aboutImg {
    background-size: contain;
    background-position: center;
    margin-bottom: 0;
  }

  .aboutImg:hover {
    transform: scale(1);
  }

  .aboutText {
    margin: 0 auto;
  }

  .aboutText p {
    margin-left: 4%;
    width: 85%;
  }
}

@media only screen and (max-width: 680px) {
  .mainItem .aboutTitle {
    width: 90%;
  }

  .aboutText {
    width: 90%;
  }

  .aboutText p {
    margin-left: 4%;
    width: 90%;
  }
}
