.portfolio {
  grid-area: portfolio;
  display: grid;
  grid-template:
    "title title"
    "shipsDescr shipsImg"
    "arrow1 arrow1"
    "cryptoDescr cryptoImg"
    "arrow2 arrow2"
    "characterizatorDescr characterizatorImg"
    "blank blank";
  grid-template-rows: 0.5fr 1fr 0.2fr 1fr 0.2fr 1fr 0.5fr;
  grid-template-columns: 35% 35%;
  justify-content: center;
  grid-row-gap: 10px;
  grid-column-gap: 5%;
}

.portfolioItem {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 5%;
}

.portfolio .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio p {
  margin-top: 5%;
}

.arrow {
  /* background-image: url("../img/arrow.png"); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: arrowDance 2s infinite;
  opacity: 0.7;
}

@keyframes arrowDance {
  0% {
    transform: translateY(0px);
  }
  5% {
    transform: translateY(15px);
  }
  10% {
    transform: translateY(10px);
  }
  15% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}

.arrow1 {
  grid-area: arrow1;
  background-image: url("../img/arrowGR.png");
}

.arrow2 {
  grid-area: arrow2;
  background-image: url("../img/arrowRY.png");
}

.display {
  transition: 0.7s;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
}

.display:hover {
  transition: 0.3s;
  opacity: 1;
  cursor: pointer;
}

.description {
  transition: 1.4s;
  opacity: 0;
}

.title {
  grid-area: title;
}

.text {
  align-self: flex-end;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
}

.buttonContainer a {
  text-decoration: none;
  margin-inline: 10%;
  padding-inline: 3%;
  padding-block: 0.5%;
  border-radius: 5px;
  font-weight: bold;
}

/* .pageButton {
  color: black;
  background-color: white;
  border: solid white 0.5px;
}

.pageButton:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: solid white 0.5px;
}

.codeButton {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: solid white 0.5px;
}

.codeButton:hover {
  color: black;
  background-color: white;
  border: solid white 0.5px;
} */

/* rgba(1, 151, 146);
rgba(227, 19, 118);
rgba(226, 201, 168); */

.greenPageButton {
  color: black;
  background-color: rgba(1, 151, 146);
  border: solid rgba(1, 151, 146) 0.5px;
}

.greenPageButton:hover {
  color: rgba(1, 151, 146);
  background-color: rgba(255, 255, 255, 0);
  border: solid rgba(1, 151, 146) 0.5px;
}

.greenCodeButton {
  color: rgba(1, 151, 146);
  background-color: rgba(255, 255, 255, 0);
  border: solid rgba(1, 151, 146) 0.5px;
}

.greenCodeButton:hover {
  color: black;
  background-color: rgba(1, 151, 146);
  border: solid rgba(1, 151, 146) 0.5px;
}

.redPageButton {
  color: black;
  background-color: rgba(227, 19, 118);
  border: solid rgba(227, 19, 118) 0.5px;
}

.redPageButton:hover {
  color: rgba(227, 19, 118);
  background-color: rgba(255, 255, 255, 0);
  border: solid rgba(227, 19, 118) 0.5px;
}

.redCodeButton {
  color: rgba(227, 19, 118);
  background-color: rgba(255, 255, 255, 0);
  border: solid rgba(227, 19, 118) 0.5px;
}

.redCodeButton:hover {
  color: black;
  background-color: rgba(227, 19, 118);
  border: solid rgba(227, 19, 118) 0.5px;
}

.yellowPageButton {
  color: black;
  background-color: rgba(226, 201, 168);
  border: solid rgba(226, 201, 168) 0.5px;
}

.yellowPageButton:hover {
  color: rgba(226, 201, 168);
  background-color: rgba(255, 255, 255, 0);
  border: solid rgba(226, 201, 168) 0.5px;
}

.yellowCodeButton {
  color: rgba(226, 201, 168);
  background-color: rgba(255, 255, 255, 0);
  border: solid rgba(226, 201, 168) 0.5px;
}

.yellowCodeButton:hover {
  color: black;
  background-color: rgba(226, 201, 168);
  border: solid rgba(226, 201, 168) 0.5px;
}

.shipsImg {
  grid-area: shipsImg;
  background-image: url("../img/ships.png");
}

.shipsDescr {
  grid-area: shipsDescr;
}

.cryptoImg {
  grid-area: cryptoImg;
  background-image: url("../img/crypto.png");
}

.cryptoDescr {
  grid-area: cryptoDescr;
}

.characterizatorImg {
  grid-area: characterizatorImg;
  background-image: url("../img/char.png");
}

.characterizatorDescr {
  grid-area: characterizatorDescr;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideToRight {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

@media only screen and (max-width: 1025px) {
  .portfolio {
    grid-area: portfolio;
    display: grid;
    grid-template:
      "title"
      "shipsImg"
      "shipsDescr"
      "arrow1"
      "cryptoImg"
      "cryptoDescr"
      "arrow2"
      "characterizatorImg"
      "characterizatorDescr";
    grid-template-rows: 1fr 1fr 0.5fr 0.8fr 1fr 0.5fr 0.8fr 1fr 0.5fr;
    grid-template-columns: 100%;
    justify-content: center;
    grid-row-gap: 0px;

    position: relative;
    top: 10em;
  }

  .portfolioItem {
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 5%;
  }

  .portfolio .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio .title p {
    width: 100%;
    margin-bottom: 10%;
    margin-top: 5%;
  }

  .portfolio h2 {
    display: none;
  }

  .portfolio p {
    margin-top: 0%;
    width: 70%;
    margin: 0 auto;
  }

  .arrow {
    background-position: center;
    background-size: 10%;
    background-repeat: no-repeat;
  }

  .display {
    transition: 0.7s;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    margin-top: 5%;
  }

  .display:hover {
    transition: 0.3s;
    opacity: 1;
    cursor: pointer;
  }

  .description {
    transition: 1.4s;
    opacity: 0;
    margin-top: 5%;
  }

  .buttonContainer a {
    margin-inline: 2%;
  }

  @keyframes slideFromRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideToRight {
    0% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(100px);
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideDown {
    0% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(-100px);
    }
  }
}

@media only screen and (max-width: 880px) {
  .portfolio {
    top: 6em;
  }

  .portfolio p {
    margin-top: 0%;
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 780px) {
  .portfolio {
    top: 6em;
  }

  .portfolio p {
    margin-top: 0%;
    width: 90%;
    margin: 0 auto;
  }

  @keyframes slideFromRight {
    0% {
      opacity: 0;
      transform: translateX(40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideToRight {
    0% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(40px);
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateX(-40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideDown {
    0% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(-40px);
    }
  }
}

@media only screen and (max-width: 580px) {
  .portfolio {
    top: 6em;
  }

  .portfolio .title p {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  @keyframes slideFromRight {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideToRight {
    0% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(20px);
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideDown {
    0% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }
}

@media only screen and (max-width: 430px) {
  .portfolio {
    grid-template-rows: 1fr 0.7fr 0.5fr 0.4fr 0.7fr 0.5fr 0.4fr 0.7fr 0.5fr;
  }
}

@media only screen and (max-width: 400px) {
  .portfolio .title p {
    width: 100%;
    margin-bottom: 0%;
  }
}
