.welcomeImg {
  grid-area: welcomeImg;
  background-image: url("../img/profile.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.welcomeText {
  grid-area: welcomeText;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background-image: url("../img/welcomeCode.png");
  background-position: right;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 14%;
}
