.welcomeImg {
  grid-area: welcomeImg;
  background-image: url("../img/profile.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.welcomeText {
  grid-area: welcomeText;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background-image: url("../img/welcomeCode.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 14%;
}

@media only screen and (max-width: 1025px) {
  .welcomeText {
    margin: 0;
    background-position: center;
  }
}

@media only screen and (max-width: 780px) {
}
