h1 {
  font-size: 6em;
  margin-top: 0;
  margin-block: 0;
}

h2 {
  font-size: 2em;
  margin-top: 6%;
  margin-bottom: 0;
}

h6 {
  margin-top: 1%;
  font-size: 1.4em;
}

p {
  font-size: 1.1em;
  line-height: 140%;
}
