h1 {
  font-size: 4em;
  color: rgba(219, 161, 134, 0.349);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(252, 252, 252);
}

h2 {
  font-size: 6em;
  margin-top: 0;
}

h4 {
  font-size: 1.4em;
}
