/* @import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: url(./img/cosmos.png);
  background-size: cover;
  /* font-family: "Antic Slab", serif; */
  /* font-family: "Jost", sans-serif; */
  /* font-family: "Julius Sans One", sans-serif; */
  font-family: "Graduate", cursive;
  color: white;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  border: 0.25em solid transparent;
  background-clip: padding-box;
  border-radius: 20px;
  background-color: rgba(102, 95, 95, 0.3);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  border: 0.25em solid transparent;
  background-clip: padding-box;
  border-radius: 20px;
  background-color: rgba(102, 95, 95, 0.486);
}
