@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  /* font-family: "Oswald", sans-serif; */
  font-family: "Roboto Slab", serif;
  /* font-family: "Vollkorn SC", serif; */
  /* font-family: "Graduate", cursive; gta*/
}

body {
  margin: 0;
  background-image: url(./img/cosmos.png);
  background-repeat: no-repeat;
  color: white;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  border: 0.25em solid transparent;
  background-clip: padding-box;
  border-radius: 20px;
  background-color: rgba(102, 95, 95, 0.3);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  border: 0.25em solid transparent;
  background-clip: padding-box;
  border-radius: 20px;
  background-color: rgba(102, 95, 95, 0.486);
}
