@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

html {
  scroll-behavior: smooth;
  margin: 0;
}

* {
  font-family: "Roboto Slab", serif;
}

body {
  margin: 0;
  background-image: url(./img/cosmos.jpg);
  background-repeat: no-repeat;
  background-size: 2100px;
  color: white;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  border: 0.25em solid transparent;
  background-clip: padding-box;
  border-radius: 20px;
  background-color: rgba(102, 95, 95, 0.3);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  border: 0.25em solid transparent;
  background-clip: padding-box;
  border-radius: 20px;
  background-color: rgba(102, 95, 95, 0.486);
}

@media only screen and (min-width: 1440px) {
  body {
    background-size: 2000px;
  }
}

@media only screen and (min-width: 1800px) {
  body {
    background-size: 2400px;
  }
}
@media only screen and (min-width: 2400px) {
  body {
    background-size: 2800px;
  }
}

@media only screen and (min-width: 3000px) {
  body {
    background-size: 3200px;
  }
}

@media only screen and (min-width: 4600px) {
  body {
    background-size: 4700px;
  }
}

@media only screen and (min-width: 6100px) {
  body {
    background-size: 6200px;
  }
}

@media only screen and (max-width: 1025px) {
  body {
    background-size: 2800px;
  }
}
